form {
    font-family: 'Tajawal', sans-serif;
}

body {
    background-color: #26355D;
    color: #f5f5f5
}

#textoAyuda {
    color: antiquewhite;
}

.mybutton {
    background-color: #FFDB00;
    color: #26355D;
    border: 1px solid #26355D;
    font-weight: bold;

    &:hover {
        background-color: #FF8F00;
        color:#26355D;
        border: 1px solid #26355D;
        box-shadow: #26355D 0px 0px 0px 2px;
    }
}